@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(assets/bg.png);
    background-color: #ffc434;
    font-family: "Poppins",sans-serif;
}
.play{
    color: white;
    margin-left: 70%;
    font-size: 30px;
    
}
.size{
    color:rgb(90, 37, 192);
    font-size: 55px;
    margin-left: 30%;
    margin-top: 25px;
}
.image{
    margin-left: 18%;
    margin-top: 35px;
}
.image img{
    height: 450px;
    width: 450px;
}
.play img{
    height: 50px;
}